<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>CurlewConsulting</display-name>

	<!-- 
	* 
	* servlets
	*
	-->
<!--  
	<servlet>
		<servlet-name>LogOn</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.LogonAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOn</servlet-name>
		<url-pattern>/LogOn</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Start</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.StartAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Start</servlet-name>
		<url-pattern>/Start</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProjectOverview</servlet-name>
		<servlet-class>org.nachc.cosmos.web.action.logon.ProjectOverviewAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectOverview</servlet-name>
		<url-pattern>/ProjectOverview</url-pattern>
	</servlet-mapping>
-->

	<!-- 
	* 
	* welcome file list
	*
	-->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>


